:root {
  --primary-color: #ffc107;
}
body {
  color: #fff;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
h1 {
  font-size: 45px;
}
.btn {
  transition: 0.75s;
}
.btn#contact {
  margin-top: 50px;
}
.btn#contact:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
#container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#text-container {
  margin: 0 25% 0 10%;
}
.btn-outline-warning:hover,
.btn-outline-warning:active {
  background-color: #ffffff00 !important;
  color: var(--primary-color) !important;
}
/* #style-element {
  width: 100%;
  height: 80px;
  background: linear-gradient(to right, #ffc107ab, #ffc107);
} */
#container-projects {
  margin: 50px 10px 500px 10%;
}
.project-cover {
  width: 150px;
}
