:root {
  --primary-color: #ffc107;
  --secondary-color: #212529;
  --section-gap: 200px;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  color: #fff;
  background-color: #060606;
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.primary-color {
  color: var(--primary-color);
}

.btn {
  transition: box-shadow 0.75s;
}

.hidden.left {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 2s;
}
.hidden.right {
  opacity: 0;
  filter: blur(10px);
  transition: all 2s;
  transform: translateX(50%);
}
.show {
  opacity: 1 !important;
  filter: blur(0) !important;
  transform: translateX(0) !important;
  transform: scale(1);
}

#intro-button-container {
  margin-top: 100px;
  flex-wrap: wrap;
}

.btn#contact {
  margin-right: 15px;
}

.btn#contact,
.btn#signout {
  margin-bottom: 15px;
}

.btn:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
.btn-outline-warning:hover,
.btn-outline-warning:active {
  background-color: #ffffff00 !important;
  color: var(--primary-color) !important;
}

#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#intro-text {
  margin: 0 15% 0 15%;
}

#aboutme-container {
  width: 100%;
  height: 525px;
  background-color: var(--secondary-color);
  color: #fff;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    60% 88%,
    35% 95%,
    10% 92%,
    0% 88%
  );
}
#aboutme-h {
  width: 100%;
  text-align: center;
  padding-top: 75px;
}
#aboutme-content {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  max-height: 400px;
}

#aboutme-content > img {
  width: 15%;
  min-width: 275px;
  max-width: 550px;
}
#aboutme-content > p {
  margin-left: 100px;
  padding-right: 50px;
  padding-left: 25px;
  width: 40%;
  font-size: 20px;
  line-height: 30px;
  border-left: 4px solid #ffffffdd;
  height: max-content;
}

#portfolio-container {
  text-align: center;
  margin-top: var(--section-gap);
  padding: 150px 50px 150px 50px;
  width: 100%;
  height: auto;
  background-color: var(--secondary-color);
  clip-path: polygon(
    0% 0%,
    2% 0%,
    8% 10%,
    30% 5%,
    40% 0%,
    70% 7%,
    80% 3%,
    100% 0%,
    100% 100%,
    70% 92%,
    60% 100%,
    40% 98%,
    20% 95%,
    0% 100%
  );
}

#portfolio-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
  gap: 50px;
}

.portfolio-img {
  width: 85px;
  transition: 0.5s;
}

.portfolio-img:hover {
  transform: scale(1.1);
}

#projects-container {
  text-align: center;
  width: 100%;
  margin-top: var(--section-gap);
  padding: 300px 0 150px 0;
  background-color: var(--secondary-color);
  color: #fff;
  clip-path: polygon(
    0% 0%,
    20% 4%,
    40% 0%,
    60% 6%,
    80% 0%,
    100% 5%,
    100% 100%,
    70% 90%,
    60% 95%,
    40% 100%,
    20% 95%,
    0% 100%
  );
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 150px;
  width: 80%;
  height: auto;
  padding: 100px 0 250px 0;
  margin: 100px 10% 50px 10%;
}

.project > img {
  width: 275px;
  object-fit: cover;
}
.project > img:hover {
  transform: scale(1.05);
}

.card {
  padding-bottom: 15px;
  border-radius: 15px;
  width: 350px !important;
  height: 550px !important;
}

.card > img {
  height: 250px;
  object-fit: cover;
}

.card-body > p {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0px 10px;
}

footer {
  width: 100%;
  height: fit-content;
  margin-top: var(--section-gap);
  background-color: var(--secondary-color);
  clip-path: polygon(0% 0%, 30% 25%, 80% 0%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 200px;
}

.footer-icon > img {
  width: 50px;
}

.footer-icon > img:hover {
  color: #ffffff66;
}

hr {
  width: 90vw;
  margin: 0 5vw;
}

#footer-link-container {
  display: flex;
  align-items: space-between;
  gap: 75px;
}

#footer-link-container > a {
  color: #ffffff88;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.1s;
}

#footer-link-container > a:hover {
  color: #ffffff66;
  text-decoration: none;
}

#copyright-text {
  color: #ffffff88;
  font-size: 16px;
  vertical-align: center;
  margin-bottom: 0;
  width: 170px;
}

#footer-icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  width: 170px;
}

#footer-container {
  display: flex;
  flex-wrap: wrap;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0 6vw;
  padding: 30px 0;
  background: #212529;
}

.ball {
  position: absolute;
  border-radius: 100%;
  opacity: 0.5;
}

@media screen and (min-width: 1024px) {
  #intro-container {
    margin: 0;
    justify-content: start;
  }
}

@media screen and (max-width: 950px) {
  h1 {
    font-size: 40px;
  }
  #aboutme-container {
    height: 750px;
  }
  #aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  #aboutme-content > p {
    margin: 75px 50px 50px 100px;
    width: 100%;
    min-width: 300px;
    overflow-y: hidden;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --section-gap: 100px;
  }
  #aboutme-container {
    height: 900px;
  }
}

/* @media screen and (max-width: 1705px) {
  #project {
    height: 1025px;
  }
  #projects-container {
    height: 1900px;
  }
} */
@media screen and (max-width: 1080px) {
  /* #project {
    height: 1900px;
  } */
  #projects-container {
    padding-top: 500px;
  }
  #projects-container {
    clip-path: polygon(
      0% 5%,
      20% 6%,
      35% 7%,
      90% 3%,
      100% 2%,
      100% 100%,
      80% 98%,
      30% 99%,
      10% 97%,
      0% 100%
    );
  }
}

@media screen and (max-width: 1080px) {
  #footer-container {
    justify-content: right;
    margin-right: 25px;
    margin-left: 25px;
  }
}
