:root {
  --primary-color: #ffc107;
  --secondary-color: #212529;
}
body {
  color: #fff;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  font-style: italic;
}

.btn {
  transition: 0.75s;
}
.btn#contact {
  margin-top: 50px;
}
.btn#contact:hover {
  box-shadow: 0 0 20px var(--primary-color);
}
.btn-outline-warning:hover,
.btn-outline-warning:active {
  background-color: #ffffff00 !important;
  color: var(--primary-color) !important;
}

#intro-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
#intro-text {
  margin: 0 15% 0 15%;
}

#aboutme-container {
  width: 100%;
  height: 550px;
  background-color: var(--secondary-color);
  color: #fff;
  clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
}
#aboutme-h {
  width: 100%;
  text-align: center;
  padding-top: 30px;
}
#aboutme-content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  max-height: 300px;
}

#aboutme-content > img {
  width: 25%;
  min-width: 275px;
  max-width: 550px;
}
#aboutme-content > p {
  margin-left: 50px;
  padding-right: 50px;
  width: 50%;
  font-size: 20px;
  line-height: 30px;
  overflow-y: scroll;
}

@media screen and (min-width: 1024px) {
  #intro-container {
    margin: 0;
    justify-content: start;
  }
}

@media screen and (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  #aboutme-container {
    height: 725px;
  }
  #aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: none;
  }
  #aboutme-content > p {
    padding: 0 15px 0 15px;
    margin: 0;
    margin-top: 50px;
    width: 100%;
    min-width: 300px;
  }
}
